default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= Rails.application.credentials.db[:username] %>
  password: <%= Rails.application.credentials.db[:password] %>

development:
  <<: *default
  database: boiler_plate_rails_6_active_admin_development

test:
  <<: *default
  database: boiler_plate_rails_6_active_admin_test

production:
  <<: *default
  database: boiler_plate_rails_6_active_admin_production